.containerG {
    height: 200px;
    width: 200px;
    border: 1px solid gray;
    padding: 1em;
    display: grid;
    grid-template-areas:"one one one two three"
    "four five six two three"
    "four five six seven three"
    "four five eight nine three";
    gap: 1em; 
}

.centerFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cell {
    border: 1px solid teal;
}
.oneG {
   grid-area: one;
}
.twoG {
    grid-area: two;
 }
 .threeG {
    grid-area: three;
 }
 .fourG {
    grid-area: four;
 }
 .fiveG {
    grid-area: five;
 }
 .sixG {
    grid-area: six;
 }
.sevenG{
   grid-area: seven;
}
.eightG {
   grid-area: eight;
}
.nineG {
   grid-area: nine;
}
